* {
    background-color: white;
    margin: 0;
}

/* header */
header{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc9c9;
}
.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.header-logo {

    width: 160px;
    height: 32px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-button {
    margin-right: 100px;
    margin-top: 55px;
    margin-bottom: 54px;
}

.back-button a {
    text-decoration: none;
    color: black;
}
.back-button:hover{
    text-decoration: underline;
}


/* main */
main{
    background-color: orange;
    height: 640px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 20px
}
.otst{
    background-color: orange;
}
.pozdr{
    max-width: 570px;
    margin-left: 600px;
    border-radius: 10px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    justify-content: center;
}
.pozdr h2{
    text-align: center;
    padding-bottom: 12px;
}
/* footer */

footer {
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
        margin-top: auto;
        border-top: 1px solid #e0e0e0;
        color: #666666;
        flex-shrink: 0;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-svg {

    width: 160px;
    height: 32px;
}

.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.footer-text-2025 {

    margin-left: 100px;
    margin-top: 53px;
    margin-bottom: 33px;
}
.footer-text-group {
   
    margin-right: 100px;
    margin-top: 65px;
    margin-bottom: 45px;
}
footer {
            background-color: #ffffff;
            padding: 15px;
            text-align: center;
            margin-top: auto;
            border-top: 1px solid #e0e0e0;
            color: #666666;
            grid-row: 4;
        }
body{
    display: grid;
}